@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
body{padding: 0; margin: 0;
font-family: 'Josefin Sans', sans-serif;
}
.banner{width: 100%; height: 300px;
background-image: url('images/bg-desktop-dark.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.bottom-section{width: 100%;
background-color: black;
/*vh = view height which means take all height of the remaining part of the page*/
height: 100vh;
}
.bottom-section-light{background-color: white;}


.row{display: flex;
flex-direction: row;
}

.heading-wrap{width: 37%;
padding-top: 80px;
justify-content: space-between;
margin: 0 auto;
align-items: center;
}
.main-content{position: absolute;
top: 20%;
left: 32%;

width: 37%;
margin: 0 auto;
height: 400px;
}

.heading{
color: white;
letter-spacing: 5px;
}
.mode-icon:hover{cursor: pointer;}
.light-banner{background-image: url(images/bg-desktop-light.jpg);}

.todo-input{width: 80%;
outline: none;

padding: 25px 60px;

background-color: hsl(235, 24%, 19%);

border-top-style: hidden;
border-left-style: hidden;
border-right-style: hidden;
border-bottom-style: hidden;
font-style: "Josefin Sans", sans-serif;
font-size: 20px ;
color: white;

}

.circle{
width: 20px;
height: 20px;
border-radius: 50px;
border: 2px solid hsl(236, 9%, 61%);
position: absolute;
top: 6%;
left: 4%;
}
.todo-task-items{
position: absolute;
top: 30%;
left: 32%;
width: 37.9%;
}
.todo-controls{background-color: hsl(235, 24%, 19%);
padding: 10px;
color: hsl(234, 11%, 52%);
justify-content: space-between;
}
.task-states{
width: 30%;
display: flex;
justify-content: space-between;
}
.task-states div:hover .clear:hover{
color: white;
cursor: pointer;
}
.task-wrap{position: relative;
padding: 25px 60px;
background-color: hsl(235, 24%, 19%);
font-family: "Josefin Sans", sans-serif;
color: white;
border-bottom: 1px solid hsl(234, 11%, 52%);
}

.todo-array-task{}

.todo-task-items{/*position: absolute;
top: 28%;
left: 32%;*/
width: 37%;
margin: 0 auto;
}
.circle-task{position: absolute;
top: 30%;
}